@import 'variables';
@import 'button';
@import 'form';
@import 'flash';
@import 'profile';
@import 'card';
@import 'status';
@import 'header';
@import 'comment';
@import 'follow';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1em;
  color: $primary-color;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px 16px;
  height: 100%;
}

form {
  height: 100%;
  position: relative;
}

.hidden {
  display: none;
}