@import './variables';

.header {
  display: flex;
  margin-bottom: 40px;

  &_changePage {
    width: 33%;

    a {
      color: blue;
    }
  }

  &_title {
    width: 33%;
    text-align: center;

    h2 {
      font-size: 16px;
      color: $primary-color;
    }
  }

  &_action {
    width: 33%;
    text-align: right;
    font-size: 16px;
    color: $secondary-color;
    cursor: pointer;

    a {
      font-size: 16px;
      color: $secondary-color;
    }
  }
}